* { box-sizing: border-box; }

body {
    margin: 0;
    font-family: sans-serif;
}

/* ---- grid ---- */

.grid {
    background-color: #76677f;
    padding: 2px;
}

/* clearfix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

.grid-sizer,
.grid-item {
    width: 100%;
}

.grid-item {
    float: left;
    position: relative;
    padding: 4px;
}

.grid-item--width2 { width: 100% }
.grid-item--width3 { width: 100% }

.grid-item img {
    display: block;
    max-width: 100%;
    border-radius: 5px;
}

.grid-item .author {
    position: absolute;
    bottom: 4px;
    left: 4px;
    right: 4px;
    border-radius: 0 0 5px 5px;
    padding: 4px;
    background-color: rgba(255, 255, 255, 0.6);
    text-align: right;
    visibility: hidden;
}

.grid-item:hover .author { visibility: visible; }

/* Tablets */
@media only screen and (min-width: 768px) {
    .grid-sizer,
    .grid-item { width: 50%}

    .grid-item--width2 { width: 100% }
    .grid-item--width3 { width: 100% }
}

/* Laptops */
@media only screen and (min-width: 992px) {
    .grid-sizer,
    .grid-item { width: 20%}

    .grid-item--width2 { width: 40% }
    .grid-item--width3 { width: 60% }
}
